 @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{

    margin: 0;
    padding: 0;
    font-family: 'lora', sans-serif;
    box-sizing: border-box;
}
 .hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #010758, #490d61);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
 }
 .hero h1{
    font-size: 45px;
    font-weight: 500;
    margin-top: -50px;
    margin-bottom: 50px;
 }
 .hero h1 span{
    color: #ff2963;
 }
textarea{
    width: 700px;
    height: 250px;
    background: #403d84;
    color: #fff;
    font-size: 15px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
textarea::placeholder{
    font-size: 16px;
    color: #ddd;
}
.row{
    width: 700px;
    display: flex;
    align-items: center;
    gap: 20px;
}
button{
    background: #ff2963;
    color: #fff;
    font-size: 16px;
    padding: 10px 30px;
    border-radius: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
button img{
    width: 16px;
    margin-right: 10px;
}
select{
    flex: 1;
    color: #fff;
    background: #403d84;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 35px;
    appearance: none;
    background-image: url(images/dropdown.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(100% - 20px);
    background-position-y: 20px;
    
}

@media screen and (max-width: 730px) {
    .hero h1 {
        font-size: 36px; 
        text-align: center;
    }
    textarea {
        width: 85%; 
    }
    .row {
        width: 85%; 
        flex-direction: column; 
        align-items: flex-start; 
    }
    button {
        width: 100%; 
        margin-top: 20px;
    }
    select {
        width: 100%; 
        margin-top: 20px; 
        text-align: center;
    }
    footer {
        background-color: #332e2e;
        color: #fff;
        padding: 10px 0;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 12px;
    }
    footer a {
        color: #fff; 
        text-decoration: none; 
    }
    footer a:hover {
        color: #ff2963; 
    } 
}

footer {
    background-color: #332e2e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
     z-index: 1; 
}

footer a {
    color: #ff2963; 
    text-decoration: none; 
}

footer a:hover {
    color: #3da1f3; 
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    height: auto;
    font-size: 25px;
}
